@charset "UTF-8";

:root {
    --cor1: #012030;
    --cor2: #13678A;
    --cor3: #45C4B0;
    --cor4: #9AEBA3;
    --cor5: #a9b46759;
}

body {
    background-color: var(--cor4);
    background-image: url(../imagens/foto01.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(90%);
    filter: contrast(60%);
}

main {
    background-color: rgba(255, 255, 255, 0.479);
    margin: 50px auto 80px auto;
    padding: 30px;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.664);
    border-radius: 30px;
    max-width: 320px;
}

header {
    background-color: var(--cor5);
    margin: -8px;
    margin-top: -20px;
    height: 200px;
    box-shadow: 3px 1px 2px rgba(0, 0, 0, 0.534);
}

nav {
    position: relative;
    top: 19%;
    background-color: #14461aec;
    margin: auto;
    padding: 6px;
}

nav > ul > a {
    color: #ffffffd8;
}